Brotli==1.1.0
certifi==2023.7.22
docutils==0.20.1
lockfile==0.12.2
mutagen==1.47.0
pycryptodomex==3.18.0
websockets==11.0.3
yt-dlp==2023.7.6
-e git+ssh://git@github.com/draganStojakovic/ytracker.git@a9910ee76df7d6557976b49dde7c36758e8ef3bd#egg=ytracker
